li {
    list-style: none;
}

.hd {
    height: 110px;
    width: 100%;
    position: relative;
    .hd_left {
        position: absolute;
        left: 0px;
        width: 100%;
        font-family: 'MElle HK Xbold';
        text-align: center;
        img {
            position: absolute;
            top: 20px;
            left: 55px;
            width: 75px;
            height: 75px;
        }
        a {
            position: absolute;
            left: 145px;
            font-size: 22pt;
            line-height: 110px;
            color: #34495e;
            text-decoration: none
        }
    }
    .hd_right {
        ul {
            position: absolute;
            right: 0;
            li {
                float: left;
                a {
                    height: 100px;
                    display: block;
                    line-height: 110px;
                    color: #34495e;
                    font-size: 15pt;
                    font-weight: 600;
                    text-decoration: none;
                    margin: 0 10px;
                    border-bottom: 8px solid transparent;
                }
                a:hover {
                    border-bottom: 8px solid #34495e;
                }
            }
        }
    }
}